body {
    font-family: helvetica;
    font-size: 14px;
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}
#jstree {
    height: 30%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#cy {
    height: 70%;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #FAEDEF;
}
h1 {
    opacity: 0.5;
    font-size: 1em;
}

#buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99999;
}