body {
    font-family: helvetica;
    font-size: 14px;
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}

/* le header */
#header {
    height: 10%;
    width: 100%;
}

/* titre principal */
h1 {
    opacity: 0.5;
    font-size: 3em;
    text-align: center;
    margin-top: 2px;
}

/* bouton send */
#send {
    height: 3em;
    top: 1%;
    right: 1%;
    position: absolute;
}

/* le menu des blocs disponible (gauche) */
#imgLoad {
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
}


/* la zone de construction */
#cy {
    position: absolute;
    right: 0;
    bottom: 0;
    top:50px;
    left:320px;
    background-color : #FAEDEF;
    background-image:url("BG3.png");
}
#logo {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#menuLeft {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 110px;
}
img#imagelogo{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 20px;
    top: 10px;
    width:100px;
    height:100px;
}
img#imagetitle{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 150px;
    top: 10px;
    width:150px;
    height:100px;
}


#buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99999;
}
#loadingDiv {
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    filter:Alpha(Opacity=30);
    opacity:0.3;
    background-color:#000000;
    z-index:1001;
    border-style:none;
    border-width:0px;
    border:0px;
}
img#imgLoad {
    position:absolute;
    top:50%;
    left:50%;
    margin:-25px 0 0 -25px;
    width:50px;
    height:50px;
    z-index:99;
}
